[Desktop Entry]
Version=1.0
Type=Application
Name=Nemo (Root)
Comment=Access and organize files with root priviliges
Icon=folder
Exec=pkexec nemo /home/$USER/
NoDisplay=false
Categories=Core;FileManager;GNOME;GTK;System;System-Tools;Utilities;
Keywords=root;administrator;folder;manager;explore;disk;filesystem;cinnamon;
MimeType=inode/directory;application/x-gnome-saved-search;
StartupNotify=true
Terminal=true
