[Desktop Entry]
Version=1.0
Type=Application
Name=Albert
GenericName=Start Albert
Icon=/usr/share/icons/cortana.png
Exec=albert
NoDisplay=true
Categories=GTK;System;
StartupNotify=false
Terminal=false
