[Desktop Entry]
Version=1.0
Type=Application
Name=Reborn Maintenance
Comment=Update and maintain Reborn
Icon=/usr/share/icons/default/reborn-updates.svg
Exec=yadsu reborn-updates
NoDisplay=false
Categories=Utility;
Keywords=reborn, update, manager
StartupNotify=true
Terminal=false
