[Desktop Entry]
Version=1.0
Type=Application
Name=Albert
GenericName=Search Using Albert
Comment=Easily search your system - an alternative to Cortana
Icon=/usr/share/icons/cortana.png
Exec=albert show
NoDisplay=false
Categories=GTK;System;
StartupNotify=false
Terminal=false
