[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=Reborn Welcome
Exec=antergos-welcome
Icon=gtk-info
Comment=The Reborn Welcome utility.
Name[de_DE.UTF-8]=Reborn Welcome
